<ul>
    <li><a href="/my_home_page/home">Home</a></li>
    <li><a href="/my_home_page/accounts">Accounts</a></li>
    <li><a href="/my_home_page/transfer">Transfer</a></li>
    <li><a href="/my_home_page/transactions">Transactions</a></li>
    <li><a href="/my_home_page/currency">Currency</a></li>
    <li><a href="/my_home_page/contact">Contact</a></li>
    <li style="float:right">
      <a class="about" href="/my_home_page/about">About</a> 
      </li>
    

    <% if session[:user_id] %>
    <% user = User.find_by(id: session[:user_id]) %>
    <li class="navbar-right">
        <span class="navbar-user">
        Logged in as <%= user&.username || "Unknown" %>
        </span>
        <%= button_to "Log Out", logout_path, method: :post, class: "nav-form-button" %>
    </li>
    <% end %>
      
</ul>

<!--/ * light blue * --> 
<style>
body {
  background-color: #e6f2ff; 
}
</style>

<style>
h1 {text-align: center;}
p {text-align: center; font-family: 'Arial';}
div {text-align: center;}
</style>

<p>Find me in app/views/my_home_page/home.html.erb</p>

<div>
<% if session[:user_id].blank? %>
  <p>
    <%= link_to 'Create User', new_user_path %> |
    <%= link_to 'Log In', login_path %>
  </p>
<% else %>
  <h1>Welcome!</h1>
  <p>You are already logged in.</p>
 
 <body>
  <h1>Font Preview</h1>
  <div class="font-preview" style="font-family: 'Arial';">This is Arial</div>
  <div class="font-preview" style="font-family: 'Georgia';">This is Georgia</div>
  <div class="font-preview" style="font-family: 'Courier New';">This is Courier New</div>
  <div class="font-preview" style="font-family: 'Comic Sans MS';">This is Comic Sans MS</div>
  <div class="font-preview" style="font-family: 'Times New Roman';">This is Times New Roman</div>
</body>



<% end %>